.sidebar div {
  background-color: #171717;
}

.drawer div button:hover {
  background-color: #212121;
  color: #f9f9f9;
}

.chat {
  -webkit-mask-image: linear-gradient(90deg, #000 60%, transparent);
}
